.DS_Store
Thumbs.db

~*.tmp
*~
~$*
*.swp
*.swo
*.aux
*.log
*.tex~
*.synctex.gz
*.docx~
*.doc~
*.pyc
*.hex
*.asv
*.m~
temp/
*.map
*.hex
*/build
*/dist
*/nbproject/private
*/nbproject/*.properties
*.bash
*/nbproject/Makefile-local-default.mk
*/nbproject/Makefile-default.mk